.li {
  list-style-type: none;
}

.label {
  margin-left: 16px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  cursor: pointer;
}

.input:checked:before {
  position: absolute;
  top: 1px;
  left: 4px;
  transform: rotate(50deg);
  width: 4px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
}

.text {
  margin-left: 16px;
  font-size: 24px;
  line-height: 24px;
}

@media screen and (max-width: 576px) {
  .input {
    width: 16px;
    height: 16px;
  }
  .text {
    margin-left: 8px;
    font-size: 16px;
  }
}
