.container {
  margin-top: 48px;
  padding: var(--default-padding);
}

.chartContainer {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.selectContainer {
  display: flex;
  margin-bottom: 24px;
  gap: 24px;
  justify-content: center;
}

.chart {
  margin: 48px 0px;
  display: flex;
  justify-content: center;
}
